# --- MONGODB ---
MONGO_HOST=shoppinglist-mongodb
MONGO_PORT=27017
MONGO_DB=shoppinglist
MONGO_USER=<your-mongodb-user>
MONGO_PASSWORD=<your-mongodb-password>

# --- FRONTEND ---
FRONTEND_PORT=8080

# -- API ---
API_PORT=3280

# --- DOCKER ---
RESTART_POLICY=unless-stopped